.columnas-au2,
.columnas{
    display: grid;
    grid-template-columns: repeat(10, 4fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
}

.titular{
    text-align: center;
    margin-top: 200px;
    color: white;
}

.titulo{
    font-size: 100px;
}

.fondo{
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}

.enlace{
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 20px;
    transition: background-color 1s linear;
}

.font{
    font-family: 'Ubuntu', sans-serif;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #3E1E68;
    overflow: hidden;
}

.background span {
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #FFACAC;
    top: 18%;
    left: 75%;
    animation-duration: 15s;
    animation-delay: -116s;
    transform-origin: -4vw 11vh;
    box-shadow: -2vmin 0 1.24268772189516vmin currentColor;
}
.background span:nth-child(1) {
    color: #E45A84;
    top: 98%;
    left: 82%;
    animation-duration: 201s;
    animation-delay: -159s;
    transform-origin: -20vw -11vh;
    box-shadow: 2vmin 0 0.811153274486502vmin currentColor;
}
.background span:nth-child(2) {
    color: #583C87;
    top: 24%;
    left: 34%;
    animation-duration: 403s;
    animation-delay: -456s;
    transform-origin: 23vw 3vh;
    box-shadow: -2vmin 0 0.8014439284748125vmin currentColor;
}
.background span:nth-child(3) {
    color: #583C87;
    top: 63%;
    left: 76%;
    animation-duration: 21s;
    animation-delay: -59s;
    transform-origin: 19vw -23vh;
    box-shadow: 2vmin 0 0.6183241044863332vmin currentColor;
}
.background span:nth-child(4) {
    color: #E45A84;
    top: 96%;
    left: 21%;
    animation-duration: 61s;
    animation-delay: -23s;
    transform-origin: -12vw 25vh;
    box-shadow: 2vmin 0 0.8360803533687569vmin currentColor;
}
.background span:nth-child(5) {
    color: #E45A84;
    top: 33%;
    left: 77%;
    animation-duration: 226s;
    animation-delay: -86s;
    transform-origin: -7vw 21vh;
    box-shadow: 2vmin 0 1.1651686851428298vmin currentColor;
}
.background span:nth-child(6) {
    color: #E45A84;
    top: 92%;
    left: 69%;
    animation-duration: 184s;
    animation-delay: -352s;
    transform-origin: -11vw -15vh;
    box-shadow: -2vmin 0 0.6858048585992895vmin currentColor;
}
.background span:nth-child(7) {
    color: #583C87;
    top: 45%;
    left: 36%;
    animation-duration: 34s;
    animation-delay: -182s;
    transform-origin: 18vw -17vh;
    box-shadow: -2vmin 0 1.1594916684557794vmin currentColor;
}
.background span:nth-child(8) {
    color: #583C87;
    top: 8%;
    left: 70%;
    animation-duration: 372s;
    animation-delay: -260s;
    transform-origin: -10vw 16vh;
    box-shadow: -2vmin 0 0.8931589288573862vmin currentColor;
}
.background span:nth-child(9) {
    color: #583C87;
    top: 89%;
    left: 24%;
    animation-duration: 35s;
    animation-delay: -478s;
    transform-origin: -18vw 12vh;
    box-shadow: 2vmin 0 0.7022455832810552vmin currentColor;
}
.background span:nth-child(10) {
    color: #FFACAC;
    top: 9%;
    left: 42%;
    animation-duration: 361s;
    animation-delay: -383s;
    transform-origin: 1vw -6vh;
    box-shadow: 2vmin 0 0.9925697307050358vmin currentColor;
}
.background span:nth-child(11) {
    color: #E45A84;
    top: 27%;
    left: 6%;
    animation-duration: 465s;
    animation-delay: -124s;
    transform-origin: 0vw 6vh;
    box-shadow: 2vmin 0 0.26964615394706937vmin currentColor;
}
.background span:nth-child(12) {
    color: #FFACAC;
    top: 21%;
    left: 17%;
    animation-duration: 92s;
    animation-delay: -108s;
    transform-origin: 20vw 17vh;
    box-shadow: -2vmin 0 0.3434130136231759vmin currentColor;
}
.background span:nth-child(13) {
    color: #E45A84;
    top: 38%;
    left: 36%;
    animation-duration: 109s;
    animation-delay: -81s;
    transform-origin: -19vw -4vh;
    box-shadow: -2vmin 0 0.6813488153641627vmin currentColor;
}
.background span:nth-child(14) {
    color: #FFACAC;
    top: 36%;
    left: 35%;
    animation-duration: 242s;
    animation-delay: -13s;
    transform-origin: 9vw -21vh;
    box-shadow: 2vmin 0 0.37258716234053235vmin currentColor;
}
.background span:nth-child(15) {
    color: #FFACAC;
    top: 30%;
    left: 75%;
    animation-duration: 122s;
    animation-delay: -323s;
    transform-origin: -16vw -22vh;
    box-shadow: 2vmin 0 0.7280891384047863vmin currentColor;
}
.background span:nth-child(16) {
    color: #583C87;
    top: 99%;
    left: 96%;
    animation-duration: 442s;
    animation-delay: -346s;
    transform-origin: -16vw 3vh;
    box-shadow: -2vmin 0 0.7558622538900814vmin currentColor;
}
.background span:nth-child(17) {
    color: #583C87;
    top: 55%;
    left: 11%;
    animation-duration: 169s;
    animation-delay: -66s;
    transform-origin: -21vw -5vh;
    box-shadow: -2vmin 0 0.2787033816301254vmin currentColor;
}
.background span:nth-child(18) {
    color: #FFACAC;
    top: 50%;
    left: 35%;
    animation-duration: 166s;
    animation-delay: -86s;
    transform-origin: -24vw -11vh;
    box-shadow: -2vmin 0 0.41079335537174333vmin currentColor;
}
.background span:nth-child(19) {
    color: #E45A84;
    top: 18%;
    left: 33%;
    animation-duration: 6s;
    animation-delay: -89s;
    transform-origin: -22vw 17vh;
    box-shadow: -2vmin 0 0.4559819597994528vmin currentColor;
}
.background span:nth-child(20) {
    color: #E45A84;
    top: 15%;
    left: 4%;
    animation-duration: 485s;
    animation-delay: -345s;
    transform-origin: -24vw 22vh;
    box-shadow: -2vmin 0 0.5263909889243528vmin currentColor;
}
.background span:nth-child(21) {
    color: #FFACAC;
    top: 6%;
    left: 80%;
    animation-duration: 368s;
    animation-delay: -275s;
    transform-origin: 7vw -21vh;
    box-shadow: 2vmin 0 0.92900158312804vmin currentColor;
}
.background span:nth-child(22) {
    color: #E45A84;
    top: 62%;
    left: 35%;
    animation-duration: 452s;
    animation-delay: -392s;
    transform-origin: -3vw -15vh;
    box-shadow: 2vmin 0 0.5168126936498534vmin currentColor;
}
.background span:nth-child(23) {
    color: #583C87;
    top: 81%;
    left: 41%;
    animation-duration: 396s;
    animation-delay: -238s;
    transform-origin: -18vw -14vh;
    box-shadow: 2vmin 0 0.743789363065199vmin currentColor;
}
.background span:nth-child(24) {
    color: #FFACAC;
    top: 31%;
    left: 60%;
    animation-duration: 381s;
    animation-delay: -78s;
    transform-origin: 3vw -17vh;
    box-shadow: 2vmin 0 1.1811554757627116vmin currentColor;
}
.background span:nth-child(25) {
    color: #E45A84;
    top: 84%;
    left: 5%;
    animation-duration: 229s;
    animation-delay: -2s;
    transform-origin: 10vw -1vh;
    box-shadow: -2vmin 0 0.32372913701288164vmin currentColor;
}
.background span:nth-child(26) {
    color: #E45A84;
    top: 78%;
    left: 36%;
    animation-duration: 312s;
    animation-delay: -383s;
    transform-origin: 5vw -13vh;
    box-shadow: -2vmin 0 1.100012477581125vmin currentColor;
}
.background span:nth-child(27) {
    color: #E45A84;
    top: 41%;
    left: 22%;
    animation-duration: 344s;
    animation-delay: -291s;
    transform-origin: 0vw -18vh;
    box-shadow: -2vmin 0 0.8892755498877418vmin currentColor;
}
.background span:nth-child(28) {
    color: #E45A84;
    top: 79%;
    left: 50%;
    animation-duration: 442s;
    animation-delay: -328s;
    transform-origin: 10vw 11vh;
    box-shadow: 2vmin 0 0.3353351400411566vmin currentColor;
}
.background span:nth-child(29) {
    color: #E45A84;
    top: 80%;
    left: 74%;
    animation-duration: 269s;
    animation-delay: -81s;
    transform-origin: 25vw 12vh;
    box-shadow: -2vmin 0 0.41492753367748025vmin currentColor;
}
.background span:nth-child(30) {
    color: #FFACAC;
    top: 13%;
    left: 95%;
    animation-duration: 207s;
    animation-delay: -474s;
    transform-origin: -1vw 14vh;
    box-shadow: 2vmin 0 0.36797436266232664vmin currentColor;
}
.background span:nth-child(31) {
    color: #583C87;
    top: 100%;
    left: 18%;
    animation-duration: 8s;
    animation-delay: -380s;
    transform-origin: -6vw 16vh;
    box-shadow: 2vmin 0 0.5327502316568862vmin currentColor;
}
.background span:nth-child(32) {
    color: #E45A84;
    top: 44%;
    left: 2%;
    animation-duration: 490s;
    animation-delay: -18s;
    transform-origin: 22vw 2vh;
    box-shadow: 2vmin 0 0.3183292723875797vmin currentColor;
}
.background span:nth-child(33) {
    color: #583C87;
    top: 17%;
    left: 20%;
    animation-duration: 40s;
    animation-delay: -318s;
    transform-origin: -3vw 7vh;
    box-shadow: 2vmin 0 0.38792406707684113vmin currentColor;
}
.background span:nth-child(34) {
    color: #FFACAC;
    top: 1%;
    left: 34%;
    animation-duration: 465s;
    animation-delay: -393s;
    transform-origin: 3vw 19vh;
    box-shadow: 2vmin 0 0.4574167006996439vmin currentColor;
}
.background span:nth-child(35) {
    color: #FFACAC;
    top: 58%;
    left: 68%;
    animation-duration: 470s;
    animation-delay: -232s;
    transform-origin: -24vw 14vh;
    box-shadow: 2vmin 0 1.0728207905305804vmin currentColor;
}
.background span:nth-child(36) {
    color: #FFACAC;
    top: 36%;
    left: 20%;
    animation-duration: 185s;
    animation-delay: -308s;
    transform-origin: 5vw 20vh;
    box-shadow: 2vmin 0 0.9319643768970303vmin currentColor;
}
.background span:nth-child(37) {
    color: #FFACAC;
    top: 59%;
    left: 43%;
    animation-duration: 220s;
    animation-delay: -37s;
    transform-origin: -19vw 17vh;
    box-shadow: 2vmin 0 0.7937754718875092vmin currentColor;
}
.background span:nth-child(38) {
    color: #E45A84;
    top: 8%;
    left: 22%;
    animation-duration: 52s;
    animation-delay: -283s;
    transform-origin: -5vw -22vh;
    box-shadow: 2vmin 0 1.0317379990489115vmin currentColor;
}
.background span:nth-child(39) {
    color: #FFACAC;
    top: 77%;
    left: 98%;
    animation-duration: 94s;
    animation-delay: -107s;
    transform-origin: 24vw 11vh;
    box-shadow: 2vmin 0 1.1315199893956258vmin currentColor;
}
.background span:nth-child(40) {
    color: #583C87;
    top: 6%;
    left: 32%;
    animation-duration: 51s;
    animation-delay: -158s;
    transform-origin: -20vw 6vh;
    box-shadow: 2vmin 0 0.3231822988006714vmin currentColor;
}
.background span:nth-child(41) {
    color: #E45A84;
    top: 70%;
    left: 82%;
    animation-duration: 99s;
    animation-delay: -187s;
    transform-origin: 6vw -4vh;
    box-shadow: 2vmin 0 0.5842186989077918vmin currentColor;
}
.background span:nth-child(42) {
    color: #583C87;
    top: 94%;
    left: 33%;
    animation-duration: 137s;
    animation-delay: -444s;
    transform-origin: 20vw 6vh;
    box-shadow: 2vmin 0 0.46980860948127967vmin currentColor;
}
.background span:nth-child(43) {
    color: #FFACAC;
    top: 75%;
    left: 85%;
    animation-duration: 292s;
    animation-delay: -343s;
    transform-origin: 15vw -14vh;
    box-shadow: -2vmin 0 1.2074692302745007vmin currentColor;
}
.background span:nth-child(44) {
    color: #583C87;
    top: 20%;
    left: 97%;
    animation-duration: 212s;
    animation-delay: -31s;
    transform-origin: -17vw 7vh;
    box-shadow: -2vmin 0 0.8431644522358437vmin currentColor;
}
.background span:nth-child(45) {
    color: #FFACAC;
    top: 7%;
    left: 66%;
    animation-duration: 123s;
    animation-delay: -160s;
    transform-origin: 25vw 1vh;
    box-shadow: 2vmin 0 0.3742909890669439vmin currentColor;
}
.background span:nth-child(46) {
    color: #FFACAC;
    top: 62%;
    left: 32%;
    animation-duration: 153s;
    animation-delay: -165s;
    transform-origin: -10vw -15vh;
    box-shadow: -2vmin 0 0.7696034769586686vmin currentColor;
}
.background span:nth-child(47) {
    color: #E45A84;
    top: 38%;
    left: 19%;
    animation-duration: 422s;
    animation-delay: -275s;
    transform-origin: -22vw -15vh;
    box-shadow: 2vmin 0 0.8385285968208707vmin currentColor;
}
.background span:nth-child(48) {
    color: #583C87;
    top: 58%;
    left: 58%;
    animation-duration: 355s;
    animation-delay: -181s;
    transform-origin: 25vw -22vh;
    box-shadow: 2vmin 0 0.382650246955764vmin currentColor;
}
.background span:nth-child(49) {
    color: #E45A84;
    top: 54%;
    left: 73%;
    animation-duration: 316s;
    animation-delay: -98s;
    transform-origin: 15vw 8vh;
    box-shadow: -2vmin 0 0.5477025658366901vmin currentColor;
}